<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Queue ID</th>
            <th scope="col">Status</th>
            <th scope="col">Size</th>
            <th scope="col">Arrival Time</th>
            <th scope="col">Sender</th>
        </tr>
    </thead>
    <tbody>
        <TMPL_LOOP name="queue_entries">
            <tr>
                <td>
                    <TMPL_VAR name="queue_id">
                </td>
                <td>
                    <TMPL_VAR name="status">
                </td>
                <td>
                    <TMPL_VAR name="size">
                </td>
                <td>
                    <TMPL_VAR name="arrival_time">
                </td>
                <td>
                    <TMPL_VAR name="sender">
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <ul>
                        <TMPL_LOOP name="recipient_entries">
                            <li>
                                <strong>
                                    <TMPL_VAR name="address">
                                </strong> (<TMPL_VAR name="delay_reason">)
                            </li>
                        </TMPL_LOOP>
                    </ul>
                </td>
            </tr>
        </TMPL_LOOP>
    </tbody>
</table>
